[tool.poetry]
name = "resonances"
version = "0.1.0"
description = "Identification of mean-motion resonances"
authors = ["Evgeny Smirnov <smirik@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
rebound = "^3.17.3"
numpy = "^1.21.0"
matplotlib = "^3.4.2"
scipy = "^1.7.0"
pandas = "^1.3.0"
seaborn = "^0.11.1"
astropy = "^4.2.1"

[tool.poetry.scripts]
identify-asteroids = "resonances.experiment.console:asteroids"
ia = "resonances.experiment.console:asteroids"
identify-quick = "resonances.experiment.console:quick"
iq = "resonances.experiment.console:quick"
simulation-shape = "resonances.experiment.console:calc_shape"
ss = "resonances.experiment.console:calc_shape"
identify-resonances = "resonances.experiment.console:identifier"
ir = "resonances.experiment.console:identifier"
asteroids-in-resonance = "resonances.experiment.console:finder"
ain = "resonances.experiment.console:asteroids_in_resonance"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
black = {version = "^21.6b0", allow-prereleases = true}
coverage = {extras = ["toml"], version = "^5.5"}
flake8 = "^3.9.2"
flake8-bugbear = "^21.4.3"

[tool.coverage.run]
omit = [".*", "*/site-packages/*"]

[tool.coverage.report]
fail_under = 80

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 140
skip-string-normalization = true