[tool.poetry]
name = "resonances"
version = "0.1.0"
description = "Identification of mean motion resonances"
authors = ["Evgeny Smirnov <smirik@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
rebound = "^3.17.3"
numpy = "^1.21.0"
matplotlib = "^3.4.2"
scipy = "^1.7.0"
pandas = "^1.3.0"
seaborn = "^0.11.1"

[tool.poetry.scripts]
identify-asteroid = "resonances.console:asteroid"
ia = "resonances.console:asteroid"
identify-quick = "resonances.console:quick"
iq = "resonances.console:quick"
simulation-shape = "resonances.console:calc_shape"
ss = "resonances.console:calc_shape"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
black = {version = "^21.6b0", allow-prereleases = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
